<head>
  <title>Is it your birthday?</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<%=@check.is_birthday?(@day, @month)%>
<%if @check.is_birthday?(@day, @month)%>
  <h1>Happy Birthday <%=@name%>!</h1>
<% else%>
  <h1><%=@check.days_till_birthday(@day, @month)%> days until your birthday <%=@name%></h1>
<%end%>
</body>